MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB="periodico_escolar"

BLOB_READ_WRITE_TOKEN="tu_vercel_blob_token_aqui"

AUTH_SECRET="un_texto_secreto_muy_seguro_y_largo_64_caracteres"
AUTH_TRUST_HOST="true"

GOOGLE_CLIENT_ID="tu_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="tu_google_client_secret"

SMTP_HOST="smtp.ejemplo.com"
SMTP_PORT="587"
SMTP_USER="tu_usuario_smtp"
SMTP_PASS="tu_contraseña_smtp"
SMTP_FROM="No-Reply <no-reply@tudominio.com>"
